/* common styles */
.primary-color {
    color: #4E47FF;
}

.primary-btn {
    background-color: #4E47FF;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 231, 243);
    /* background-color: rgb(234, 239, 250); */
}

/* header styles */

header {
    background-image: url(../Assets/Hero-bg.png);
    padding: 0 150px 150px 150px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav h1 {
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: bold;
}

header .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.banner-title {
    color: #252432;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 65px;
}


/* main styles */


/* action section styles */


.section-action {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    margin: 150px 0;
}


.action-title {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}


.action-sub-title {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}


.action-img {
    border-radius: 48px;
}




/* productive users section  */


.productive-users-section {
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0 150px 135px 150px;
    border-radius: 24px;
    padding: 50px 0;
}


.productive-users-headline {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}




.productive-users-counts {
    display: flex;
    justify-content: space-between;
    width: 80%;
}




.productive-users-counts-holder {
    display: flex;
    flex-direction: column;
    align-items: center;


}


.productive-users-title {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
}


.productive-users-sub-title {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}



/* Users feedback styles */
.users-feedback-section {
    margin: 0 150px 135px 150px;
}

.users-feedback-headline{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    margin-bottom: 50px;
}

.top-users-feedback {
    display: flex;
    gap: 20px;
}


.users-feedback-card {
    flex: 1;
    padding: 24px;
    background-color: rgba(242, 237, 237, 1);
    border-radius: 14px;
}


.users-feedback-title,
.users-feedback-sub-title {
    color: #1E1E1E;
}


.reviewer-container {
    display: flex;
    align-items: center;
}

.reviewer-img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: block;
    object-fit: cover;
}

.reviewer-details {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    padding: 0;
}

.reviewer-details h4 {
    margin: 0;
}

.reviewer-name {
    color: #757575;
}

.review-date {
    color: #B3B3B3;
}


/* Get in touch section  */
.get-in-touch-section {
    display: flex;
    gap: 2rem;
    margin: 0 150px 115px 150px;
}


.get-in-touch-section h1 {
    font-family: "Raleway", sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: #000000;
}


.get-in-touch-section h1,
.get-in-touch-section form {
    flex: 1;
}


.get-in-touch-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.get-in-touch-section .form-item {
    margin-bottom: 1rem;
}


.form-item input,
.form-item textarea {
    width: 100%;
    padding: 32px 20px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    margin-top: 10px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}




.form-item label {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}


.get-in-touch-btn {
    width: 110%;
}





/* footer styles */
footer {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 105px 455px;
}

.footer-logo {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 100px;
    margin: 0 auto;
}

.footer-description {
    color: rgba(137, 135, 161, 1);
    text-align: center;
    width: 100%;
}

.footer-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.footer-links li {
    margin-right: 48px;
}


.footer-links a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}